/target/
/logs/app.log
/test.db
/logs/2024-11/
/src/main/resources/image/
/src/main/resources/topics/
/src/main/resources/content/algorit01/
/src/main/java/rebuild/2024-11-18_RESULT.log
/src/main/resources/d.jpg
/src/main/java/rebuild/topics/
